/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding-top: 150px;
    background: url('trad.jpg') no-repeat center center fixed;
    background-size: cover;
    padding-top: 150px;
}

/* Header */
header {
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: white;
    height: 60px;
}

.logo img {
    height: 55px;
    width: 66px;
    margin-right: 10px;
}

.logo h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin: 0 15px;
}

header ul a, .nav-item {
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header ul li:hover {
    color: yellow;
    cursor: pointer;
    text-decoration: underline;
}

#home-item {
    color: yellow;
}

#home-item:hover {
    cursor: default;
    text-decoration: none;
}

/* Main Content */
.booking {
    max-width: 800px;
    margin: auto;
    background: rgb(129, 255, 169);
    padding: 30px;
    border-radius: 50px;
    margin-bottom: 40px;
    border-width: 3px;
  
    
   
    
}

h1, h4 {
    color: #333;
    
}

#head {
    margin-bottom: 10px;
    text-align: center;
    font-size: 80px;
    padding-top: 80px;
}

#sub {
    margin-top: -1px;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: transform 0.3s;
}

.btn:hover {
    background-color: #218838;
    transform: scale(1.3);
}

.hall-BA {
    border-width: 3px;
    border-radius: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: transform 0.3s;
    padding: 15px;
    margin-bottom: 20px;
    height: 150px;
    align-content: center;
    color: #ffffff;
    background-color: #78ff98;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* dark overlay */ url(hall1.jpg);
    background-size: cover;

}

.hall-BA:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    transform: scale(1.2);
    border-color: #b47e00;
    border-style: solid;
    opacity: 1;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.733)),url(hallhover.jpg) ;
 
   
   
    
}


.hall-BA label{
    cursor: pointer;
}
.food{
    padding: 10px;
    border-radius: 90px;
    padding-left: 320px;
    transition: transform 0.3s;
    color: rgb(126, 3, 3);
    background: url('food2.jpg');
    background-size: cover;
   
    
}

.food:hover{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* dark overlay */
    url(food.avif);
    cursor: pointer;
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    border-color: rgb(255, 255, 255);
    
   
}

#cat{
    font-size: 50px;
   

   
}




/* Footer */
footer {
    background-color: rgb(218, 197, 83);
    color: maroon;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer p {
    padding-top: 10px;
    margin: 0;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: red;
}
