/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('trad.jpg') no-repeat center center fixed;
    background-size: cover;
    padding-top: 150px;
}

/* Header */
header {
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
   
}

.logo {
    display: flex;
    align-items: center;
    color: white;
}

.logo img {
    height: 55px;
    width: 66px;
    margin-right: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin: 0 15px;
}

header ul a {
    text-decoration: none;
    color: white;
}

header ul li:hover a {
    color: yellow;
    text-decoration: underline;
}

/* Main Content */
.confirmation {
    max-width: 800px;
    margin: auto;
    background: rgba(255, 249, 129, 0.9);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

h1, h2, h4 {
    color: #333;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #ffc107;
    color: #000;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: transform 0.3s, background-color 0.3s;
    text-decoration: none;
}

.btn:hover {
    background-color: #218838;
    transform: scale(1.1);
}

/* Footer */
footer {
    background-color: rgb(218, 197, 83);
    color: maroon;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: red;
}
