* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header part -------------------------------------------------------*/
.logo{
 
    display: flex;
    align-items: center;
    color: black;
    margin-left: -30px;
    font-size: 24px;
    color: white;
    height: 90px;
  
}
.logo img{
    height: 55px;
    width: 66px;
    margin-left: 15px;
   
}

.logo h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    
}


header ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
    
}
header ul li{
    margin: 0 10px;
}
header ul a{
    text-decoration: none;
    color: white;
   
}
header ul li:hover{
    color: yellow;
    cursor: pointer;
    text-decoration: underline;
}
#home-item {
    color: yellow;
}
#home-item:hover{
    cursor: context-menu;
    text-decoration: none;
}
header{
    
    padding: 10px 20px;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000;
}


/*main ---------------------------------------------------------------------------------------*/
body{
    background-color: black;
    color: white;

}
main{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.container h1{
    font-size: 100px;
    margin-bottom: 0px;
    opacity: 0.8;
    
    
}
.container p {
    font-size: 20px;
    margin-bottom: 50px;
   
   
}
.search-box {
    padding: 10px;
    width: 400px;
    height: 45px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin: 20px 0; 
    opacity: 0.5;
    
    
}

.search-area {
    display: flex; 
    align-items: center; 
    
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}


.container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
    z-index: -1;
}

.cta-button {
    display: inline-block;
    background-color:gold;
    color: rgb(5, 5, 69);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin-left: 10px;
    transition: transform 0.3s;
    position: absolute;
    margin-left:282px;
}

.cta-button:hover {
    transform: scale(1.3);
    font-weight: bold;
    color: maroon;
    cursor: pointer;
}

/* preloader---------------------------------------------------------------------------------------------*/
#preloader
{
    background:black url(preloader3.gif) no-repeat center center ;
    background-size: 12%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10000;
}


/* footer part*------------------------------------------------------------------------------------------------*/
footer
{
    background-color: rgb(218, 197, 83);
    color: maroon;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
footer p{
    padding-top: 10px;
}

footer a{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    
}
footer a:hover
{
    text-decoration: underline;
    color:red ;
    
}