* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header Part */
header {
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
}

.logo {
    display: flex;
    align-items: center;
    color: white;
}

.logo img {
    height: 55px;
    width: 66px;
    margin-right: 10px;
}

.logo h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header ul li {
    margin: 0 15px;
    font-size: 16px;
}

header ul a {
    text-decoration: none;
    color: white;
}

header ul li:hover {
    color: yellow;
    cursor: pointer;
    text-decoration: underline;
}

#home-item {
    color: yellow;
}

#home-item:hover {
    cursor: default;
    text-decoration: none;
}

/* Body */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('trad.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    
}

/* Form Container */
.container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin-top: 100px; /* Adjusted to avoid overlapping with the fixed header */
    padding: 20px;
    width: 500px;
    max-width: 90%;
    border: 1px solid rgb(0, 191, 255);
    border-radius: 15px;
    background-color: rgb(255, 255, 255); /* Semi-transparent background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"]

{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="number"]
{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width:140px;
}


input[type="checkbox"] {
    margin-right: 5px;
    
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 191, 255);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: rgb(0, 140, 220);
}

label {
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    color: #00014a;
}

p {
    font-size: 12px;
    color: #3212e3;
    text-align: center;
    width: 100%;
    padding-top: 10px;
}



/* Footer Part */
footer {
    background-color: rgb(218, 197, 83);
    color: maroon;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
    width:1149px;
   
}

footer p {
    padding-top: 10px;
    font-size: 14px;
    text-align: center;
}

footer a {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: red;
}
