* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-------------------------------------------------------*/
/* header part */
.logo{
    display: flex;
    align-items: center;
    color: white;
   font-size: 24px;
   margin-right: 20px;
}
.logo img{
    display: flex;
    height: 55px;
    width: 66px;
    margin-right: 1px;
}
.logo h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    
    
}


header ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
    
}
header ul li{
    margin: 0 10px;
}
header ul a{
    text-decoration: none;
    color: white;
   
}
header ul li:hover{
    color: yellow;
    cursor: pointer;
    text-decoration: underline;
}


header{
    
    padding: 10px 20px;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000;
    
}


/*main -------------------------------------------------*/

body{
    color: rgb(165, 124, 42);
 

}
main{
    position: relative;
    height: 100vh;
    overflow: hidden;
}


.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
    gap: 20px;
    padding: 50px;
    padding-top: 100px;
    
}



/* preloader--------------------------------*/
#preloader
{
    background:black url(preloader3.gif) no-repeat center center ;
    background-size: 12%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10000;
}

.adminImg
{
    height: 1px;
    width: 1px;
}



/* footer part*--------------------------------------------*/
footer
{
    background-color: rgb(218, 197, 83);
    color: maroon;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
footer p{
    padding-top: 10px;
}

footer a{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    
}
footer a:hover
{
    text-decoration: underline;
    color:red ;
    
}